img{
    display: block;
    margin: 0 auto;
}

body {
    background-color: powderblue;
    text-align: center;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}