<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
        <init-param>
            <param-name>default_date</param-name>
            <param-value>2001-01-01</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BiorythmServlet</servlet-name>
        <servlet-class>com.example.biorythmservlet.BiorythmServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BiorythmServlet</servlet-name>
        <url-pattern>/servlet</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>author</param-name>
        <param-value>Cezary Troska</param-value>
    </context-param>
    <context-param>
        <param-name>author_mail</param-name>
        <param-value>ctjavazaawansowana@gmail.com</param-value>
    </context-param>

</web-app>